[submodule "compare-locales"]
	path = compare-locales
	url = https://github.com/Pike/compare-locales.git
[submodule "gaia-l10n/en-US"]
	path = gaia-l10n/en-US
	url = https://git.mozilla.org/releases/l10n/en-US/gaia.git
[submodule "gaia-l10n/ja"]
	path = gaia-l10n/ja
	url = https://git.mozilla.org/releases/l10n/ja/gaia.git
